.addForm,.updateform-container{
  display:flex;
flex-direction:column;
max-width: 500px;
margin: 20px auto;
gap: 20px;

}

.movie-container{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 20px;
}

.add{
  margin: 0px;
  background-image:url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fphoto%2Finnovation-and-science-concept-gm1177116437-328490833&psig=AOvVaw1lnU-N1zN5O4toeiSRHHSh&ust=1710239913226000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCJj87KWC7IQDFQAAAAAdAAAAABAa");
background-repeat: no-repeat;
min-width: 100%;
min-height: 100vh;
background-size: cover;


   background-position: center center;
}
.get-list{
  margin: 0px;
  background-image:url("https://www.istockphoto.com/photo/data-transmission-gm506917032-84456457");
background-repeat: no-repeat;
min-width: 100%;
min-height: 100vh;
background-size: cover;


   background-position: center center;
}

.container{
  display: flex;
  margin: 50px;
  gap: 50px;
}

.button{
  display: flex;
justify-content:space-around;
  gap: 50px;
}

.single-container{
  display: flex;
  max-width: 70%;
  margin: 50px auto;
  gap: 30px;
  flex-direction: column;
}

.single-img{
  max-width:40%;
 max-height: 50%;
margin: 0px auto;
}

.card-name{
  text-align: center;
  margin: 0px;
}

.home-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}